body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(pexels-veeterzy-303383.jpg); 
    background-size: cover;   
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 30px  ;
    display:contents;
    align-items:center;
    justify-content: space-between;
}
.logo{
width: 190px;
float: left;
cursor: pointer;

}
.box{
    width:230px;
    padding:30px;
    height:300px;
    position: absolute;
    top:53%;
    left:12%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4); 
    text-align:center;

}
.box h1 
{
color:white;
}
.box h2 
{
color:white;
}
.box input[type="text"],.box input[type="password"],.box input[type="email"]
{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:3px solid #0367fd;
    padding:14px 35px;
    width:100px;
    outline:none;
    color: white;
    border-radius: 24px;
    transition:0.25px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus{
    width:170px;
    border-color: #ffc400ec;
}
.box input[type="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;;
}
.box input[type="submit"]:hover{

    background: #ffc400ec;
}
.box h4
{
color: white;

}
